<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DCIM Orgnzr</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body class="container-fluid">
  <div id="app" class="row">


    <div class="col-12 col-xl-6 mb-5">

      <h1 class="h3">Projets</h1>

      <table class="table">
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th></th>
        </tr>
        <tr v-for="(data, index) in projects">
          <td>
            <input type="text" class="form-control" v-model="data.name" @change="save">
          </td>
          <td>
            <input type="text" class="form-control" v-model="data.address" @change="searchCoordinates(index) && save()">
          </td>
          <td class="text-right">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-default btn-sm" @click="selectedProject = index">Interventions</button>
              <button class="btn btn-default btn-sm" v-if="data.latitude !== undefined && data.longitude !== undefined" @click="openMap(data.latitude, data.longitude)" :title="`${data.latitude},${data.longitude}`">Map</button>
            </div>
          </td>
        </tr>
      </table>

      <p class="text-right">
        <button class="btn btn-primary" @click="addProject">Ajouter un projet</button>
      </p>

    </div>

    <div class="col" v-if="selectedProject !== null">

      <h1 class="h4">Les interventions pour {{ projects[selectedProject].name }}</h2>

        <table class="table">

          <tr>
            <th>Numéro d'intervention</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>

          <tr v-for="(data, index) in projects[selectedProject].interventions">
            <td><input type="text" class="form-control" v-model="data.reference" @change="save"></td>
            <td><input type="text" class="form-control" v-model="data.start" @change="save"></td>
            <td><input type="text" class="form-control" v-model="data.end" @change="save"></td>
          </tr>

        </table>
        <p class="text-right">
          <button class="btn btn-primary" @click="addIntervention">Ajouter une intervention</button>
        </p>
    </div>


  </div>

  <script type="text/javascript" src="./app.js"></script>
</body>

</html>